.container {
  display: flex;
  justify-content: center;
  color: aqua;
  margin-top: 7rem;
  -webkit-animation: popout 0.5s ease;
}

.inner-container {
  display: flex;
  width: 31%;
  height: 550px;
  background-color: bisque;
  justify-content: center;
  border-radius: 40px;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
}
