@font-face {
  font-family: MainFont;
  src: url(Fonts/Qualy-Bold.ttf);
}
.siteTitle {
  font-size: 2.1rem;
  color: #ffeaa7;
  text-decoration: none;
}
nav {
  font-family: MainFont;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin-right: 30px;
}
a:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.3);
  border-radius: 40px;
  padding: 0.9rem 1.6rem 0.9rem 1.6rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  transition: all 200ms linear;
}
a:hover:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.6);
  transition: all 200ms linear;
}

nav {
  background-color: inherit; /* Use the background-color from the parent */
  color: inherit; /* Use the text color from the parent */
}
.active:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.6) !important;
}
.loginContainer{
  width: 20%;
  display: flex;
  background-color: #ddd;
    position: absolute;
  border-radius: 20px;

}
.formTitle{
  margin-top: 1rem;
  font-size: 1rem;
}

input {
  
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  background: #f1f1f1;
  font-weight: 300;
  font-style: italic;
  border-radius: 25px;
  
}
input[type="submit"] {
  display: flex;
  justify-content: center;
  width:50%;
  text-align: center;
  color: #ffF;
  background: #1BBC9B;
  font-style: normal;
  font-family: MainFont;
  box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
}
