@font-face {
  font-family: MainFont;
  src: url(Fonts/Qualy-Bold.ttf);
}
.siteTitle {
  font-size: 2.1rem;
  color: #ffeaa7;
}
nav {
  font-family: MainFont;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid red;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin-right: 30px;
}
a:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.3);
  border-radius: 40px;
  padding: 0.9rem 1.6rem 0.9rem 1.6rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  transition: all 200ms linear;
}
a:hover:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.6);
  transition: all 200ms linear;
}

.switch {
  display: flex;
}

nav {
  background-color: inherit; /* Use the background-color from the parent */
  color: inherit; /* Use the text color from the parent */
}
