@font-face {
  font-family: MainFont;
  src: url(Fonts/Qualy-Bold.ttf);
}
@font-face {
  font-family: LoginFont;
  src: url(Fonts/Garet-Book.ttf);
}
.siteTitle {
  font-size: 2.1rem;
  color: #ffeaa7;
  text-decoration: none;
}
nav {
  font-family: MainFont;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin-right: 30px;
}
a:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.3);
  border-radius: 40px;
  padding: 0.9rem 1.6rem 0.9rem 1.6rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  transition: all 200ms linear;
}
a:hover:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.6);
  transition: all 200ms linear;
}

nav {
  background-color: inherit; /* Use the background-color from the parent */
  color: inherit; /* Use the text color from the parent */
}
.active:not(.siteTitle) {
  background-color: rgba(83, 85, 105, 0.6) !important;
}

.loginContainer {
  width: 20%;
  font-family: LoginFont;
  background-color: #ddd;
  position: absolute;
  border-radius: 20px;
  margin-top: 20px;
}
.formBox {
  height: 480px;
  width: 380px;
  position: relative;
  margin: 6% auto;
  background-color: #fff;
  padding: 5px;
  overflow: hidden;
  font-family: LoginFont;
  border-radius: 30px;
  border: 1px solid green;
}
.buttonBox {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0px 0px 20px 9px #ff61241f;
  border-radius: 30px;
  
}

.toggleBtn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  outline: none;
}
.toggleBtn.on,
.toggleBtn.off {
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  transform: 0.5s;
  border-radius: 30px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  
}

#btn {
}

.socialIcons {
  margin: 30px auto;
  text-align: center;
}
.socialIcons img {
  position: relative;
  width: 40px;
  margin: 0 12px;
}

.form {
  top: 120px;
  position: absolute;
  width: 280px;
  margin: 50px;
}

.inputField {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  font-family: LoginFont;
}

.submitButton {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  border-radius: 30px;
  outline: none;
  font-family: LoginFont;
}

.checkBox {
  font-family: LoginFont;
  margin: 30px 10px 30px 0;
}

.checkboxStyle {
  color: #777;
  font-size: 12px;
  bottom: 67px;
  position: absolute;
}

